<%= form_for(@state_or_province) do |f| %>
  <% if @state_or_province.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@state_or_province.errors.count, "error") %> prohibited this state_or_province from being saved:</h2>

      <ul>
      <% @state_or_province.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :postalAbbreviation %><br>
    <%= f.text_field :postalAbbreviation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
