<h1>Listing state_or_provinces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Postalabbreviation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @state_or_provinces.each do |state_or_province| %>
      <tr>
        <td><%= state_or_province.name %></td>
        <td><%= state_or_province.postalAbbreviation %></td>
        <td><%= link_to 'Show', state_or_province %></td>
        <td><%= link_to 'Edit', edit_state_or_province_path(state_or_province) %></td>
        <td><%= link_to 'Destroy', state_or_province, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New State or province', new_state_or_province_path %>
