<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @country_language.country_id %>
</p>

<p>
  <strong>Language:</strong>
  <%= @country_language.language_id %>
</p>

<%= link_to 'Edit', edit_country_language_path(@country_language) %> |
<%= link_to 'Back', country_languages_path %>
